.cash-or-card1 {
    padding-top: 6.4rem;
}

.bg-greenlight {
    background-color: #f2f0eb;
}

.sb-content-column {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: initial;
    margin-left: auto;
    margin-right: auto;
}

.sb-content-columnInner {
    box-sizing: border-box;
}

.text-centered-h2 {
    width: 50%;
    padding-bottom: 6.4rem;
    margin-left: 25%;
    margin-bottom: 2.4rem;
    text-align: center;
}

.sb-heading {
    font-weight: 600;
}

.grid {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
}

.gridItem1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 16.66667%;
    padding-bottom: 0;
}

.text-semibold {
    font-weight: 600;
    font-size: 24px;
}

.grid-image {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0;
    width: 33.33333%;
    padding-bottom: 0;
    
}

.flex-md {
    display: flex;
    text-align: left;
    padding-right: 2.4rem;
    padding-left: 2.4rem;

}

.image-cellphone {
    max-width: 128px;
    margin: 0;
    flex-shrink: 0;

}

.sb-image {
    height: auto;
    max-width: 80%;
    border: 0;
}

.card-content-textleft {
   text-align: left; 
}

.separador {
    height: 2px;
    background-color: rgba(228, 222, 222, 0.726);
    margin: 50px 0;
    border: 0;
}