.footer-max {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.separador {
    
    height: 2px;
    background-color: rgba(228, 222, 222, 0.726);
    margin: 50px 0;
    border: 0;
    max-width: 1440px;
}

.social-icons-flex{
    display: flex;
    flex-wrap: wrap !important;
    margin-left: -5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sm-mr1{
    margin-right: .4rem;

}

.icon-button {
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    position: relative;
    color: #fff;
    background: #000;
    border-radius: 50%;
    z-index: 1;
}

.icon-sm {
    width: 17px;
    height: 17px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centra exactamente */
    vertical-align: middle;
    z-index: 2;
}

