.outer-box {
    background-color: #fff;
    background-image: url(https://www.starbucks.com/app-assets/844262945b2a8b8cfb29.png);
    background-size: cover;
    scroll-margin-top: 51px;
    padding: 3.2rem;
}

.inner-box {
    background-color: #d4e9e2;
    padding-bottom: 4rem;
    padding-top: 4rem;

}

.content-colmun {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: initial;

}

.sb-content-column-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.text-center {
    width: 100%;
    text-align: center;

}

.sb-heading-h2 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.385;
    padding-top: 1rem;
    text-align: center;

}

.text-center-p3 {
    padding-top: 1.6rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.08rem;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;

}

.program-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;    
    padding: 32px 180px 32px 180px;   
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 2px;
    margin-bottom: 20px;
    margin-left: 2px;
    width: 50%;
    padding-bottom: 0%;
    text-align: center;

}
 .image-container-center {
    min-width: 112px;

 }

 .imageContainer {
    height: auto;
    max-width: 35%;
    border: 0;

 }

 .p-under-image {
    text-align: center;
    padding-top: 1rem;
    padding-left: 0;
    width: 87%;

 }

 .external-links {
    display: inline-flex;
    align-items: center;
    color: #006241;
    background-color: initial;

 }

 .text-link {
    line-height: normal;
    margin: 0;
}

 .icon-link {
    width: 18px;
    height: 18px;
    overflow: visible;
    fill: rgb(0 117 74);
    vertical-align: middle;
 }

.text-noUnderLine {
    text-decoration: none;
    color: #000;
}

.btn-text-center {
    text-align: center;

}

.join-button {
    min-width: 35px;
    min-height: 35px;
    background-color: #00754a;
    color: #fff;
    font-weight: 700;
    text-decoration: none;

}

@media (max-width: 768px) {
    .program-container {
        display: flex;
        flex-direction: column;
        padding: 32px 0 32px 0;
    }

    .content-container {
        display: flex;
        flex-direction: row;
        width: 87%;
        margin: 0;
    }

    .imageContainer {
        margin: 0;
        max-width: 50%;
    }

    .p-under-image {
        text-align: left;
        width: 100%;
        margin: 0;
    }
    .outer-box {
        background-image: none;
        padding: 0;
    }
    .inner-box {
        padding: 0;
    }
    .text-center-p3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 480px) {
    .content-container {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .imageContainer {
        margin: 0;
        max-width: 50%;
    }

    .p-under-image {
        text-align: left;
        width: 50%;
        margin: 0;
    }
    .outer-box {
        background-image: none;
        padding: 0;
    }
    .inner-box {
        padding: 0;
    }
    .text-center-p3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .image-container-center {
        max-width: 11rem;
    }
}