.navbar {    
    display: flex;
    max-width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
     
}

.global-max-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.flex-container {
    display: flex;
    box-sizing: inherit;
}


.navbar-logo {
    margin-top: 0;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 1.4rem;
    height: 40px;
    width: 40px;
    margin-right: 4rem;
}
.global-wrapper-flex {
    display: flex;
    flex-grow: 1;
}
.flex-ul-li{
    display: flex;
    flex-shrink: 0;

}
.navbar-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.list-item{
    display: flex;
    margin-left: 0;
    align-items: center;
    text-decoration: none;

}

/*PENDIENTE A*/

.navbar-buttons{
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    font-size: 1rem;
}
.flex-items-center{
    display: flex;
    align-items: center;
    margin-left: 6rem;

}
.flex-find-btns{
    display: flex;
    align-items: center;
    margin-right: 4rem;
    align-self: stretch;
}
.a-flex{
    color: #1e3932;
    display: inline-block;
    padding-right: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    min-width: 0;
    min-height: 0;
}

.sign-button {
    color: #000;
    border: 0;
    margin-right: 1.6rem;
    background: none;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    font-weight: 600;
    line-height: 1.2;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

.join-button-header {
    color: #fff;
    margin-right: 1.6rem;
    border: 2px;
    background-color: #000;
    border-radius: 25px;
    border-style: solid;
    display: inline-block;
    font-weight: 600;
    line-height: 1.2;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

.sticky-header {
    display: flex;
    align-items: center;   
    background-color: #1e3932;
    color: #fff;
    padding: 0 240px;    
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 3;
    font-weight: 700;
}
.header-container {
    display: block;
    position: relative;
    z-index: 2;
}